.header {
  position: fixed;
  width: 100%;
  height: 118px;
  z-index: 4;
  @include media("<=phone") {
    height: 86px;
  }
  .container {
    .logo {
      a {
        font-size: 1.2rem;
        text-decoration: none;
        letter-spacing: 0.5rem;
        color: $black;
        font-weight: 700;
      }
    }

    .nav-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;

      @include media("<=tablet") {
        margin-right: 24px;
      }

      @include media("<=phone") {
        margin-right: 16px;
      }
      .hamburger-menu {
        width: 25px;
        @include media("<=phone") {
          width: 20px;
        }

        span {
          height: 2px;
          margin-bottom: 0.3rem;
          background-color: $black;
          display: block;
        }
      }
      .hamburger-menu-closed {
        position: absolute;
        display: none;

        svg {
          @include media("<=tablet") {
            width: 56px;
          }

          @include media("<=phone") {
            width: 48px;
          }
        }
      }
    }
  }
}
